.login-form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: bold;
}

.role-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
}

.role-row {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.role-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #E5C5F5;
}

.role-circle.selected {
  background: #C7F7E7;
  border-color: #A68DC8;
}

.role-text {
  font-weight: 500;
  transition: 0.2s;
}

.selected-text {
  font-weight: 800;
  color: #000;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 2px solid #E5C5F5;
  border-radius: 6px;
  font-size: 16px;
}

.form-input:focus {
  border-color: #C7F7E7;
  outline: none;
}

.login-btn {
  display: block;
  margin: 20px auto 0;
  width: 70%;
  padding: 12px;

  background: #E5C5F5;
  border: none;
  border-radius: 6px;

  color: #000;
  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background: #C7F7E7;
}

.login-error {
  color: #d9534f;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 16px;
}
