/* Base */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 85px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px; 
  background: #fff;
  border-bottom: 3px solid #E5C5F5;
  box-sizing: border-box;
  z-index: 100;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Side bar */
.sidebar-toggle-btn {
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  color: #A68DC8;
  padding: 4px 10px;
  border-radius: 6px;
  transition: 0.2s ease;
}

.sidebar-toggle-btn:hover {
  background: #E5C5F5;
  color: #7c65b1;
}

/* ===== Logo ===== */

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav-btn {
  padding: 8px 14px;
  border-radius: 6px;
  border: 2px solid #E5C5F5;
  background: #E5C5F5;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.nav-btn:hover {
  background: #C7F7E7;
}

/* Login / Register modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200; /* above navbar */
}

.modal-box {
  position: relative;
  width: 420px;
  background: white;
  padding: 20px 20px 28px;
  border-radius: 16px;
  border: 3px solid #E5C5F5;
  box-sizing: border-box;

  max-height: 80vh;
}

.register-modal .modal-box {
  overflow-y: auto;
}


.modal-tabs {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.modal-tabs button {
  background: none;
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.modal-tabs .active-tab {
  border-color: #E5C5F5;
  font-weight: bold;
}

.modal-content {
  padding: 10px;
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 18px;

  font-size: 45px;
  font-weight: 400;

  background: none;
  border: none;
  color: #A68DC8;
  cursor: pointer;
  line-height: 1;

  transition: 0.2s ease;
}

.modal-close-btn:hover {
  color: #7c65b1;
  transform: scale(1.1);
}
